@model ResumeExperiencePartViewModel

@{
	var skills = Model.Skills?.Split(',');
	var date = Model.StartDate is not null ? Model.StartDate.Value.ToString("MMM yyyy") : string.Empty;
	if (Model.EndDate is not null)
	{
		date += " - " + Model.EndDate.Value.ToString("MMM yyyy");
	}
	else
	{
		date += " - " + T["Present"].Value;
	}
}

<div class="item">
	<div class="work-place row">
		<div class="col-md-6">
			<h3 class="place">@Model.CompanyName</h3>
		</div>
		<div class="col-md-6">
			<div class="location"><i class="fas fa-map-marker-alt mr-1"></i>@Model.Location</div>
		</div>
	</div>
	<div class="job-meta">
		<div class="title">@Model.JobTitle</div>
		<div class="time">@date</div>
	</div>
	<div class="job-desc">
		<p>
			@Html.Raw(
			((MarkupString)Regex.Replace(
						HttpUtility.HtmlEncode(Model.Description), "\r?\n|\r", "<br />")))
		</p>
		@if (skills != null)
		{
			<div class="misc-skills-small">
				@foreach (var skill in skills)
				{
					<span class="skill-tag">@skill.Trim()</span>
				}
			</div>
		}

	</div>
</div>